body
{
    margin: 0;
    background-color:red;
}

h1
{
   text-align: center;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.Top
{
    background-color: violet;
    height: 155px;
    width: 195px;
    border-radius: 0 0 90px 90px;
    display: inline-block;
    position: relative;
    top: 70px;
    left: 750px;
    z-index: 1;
    transform: rotate(180deg);
    animation: drop-in 2s;
    animation-iteration-count: infinite;

}

.eye1
{
    background-color: white;
    height: 25px;
    width: 28px;
    border-radius: 50%;
    position: absolute;
    top:55px;
    left:40px;
}

.eye2
{
    background-color: white;
    height: 25px;
    width: 28px;
    border-radius: 50%;
    position: absolute;
    top:55px;
    right: 40px;
    
}

.bot
{
   background-color: violet;
   height: 185px;
   width: 200px;
   border-radius: 0 0 95px 95px;
   display: inline-block;
   top: 265px;
   left: 550px;
   position: relative;
   animation: drop-in 2s;
   animation-iteration-count: infinite;
}

.left
{
    background-color: violet;
    height: 120px;
    width: 40px;
    border-radius: 30px;
    display: inline-block;
    top: 355px;
    left: 700px;
    position: absolute;
    animation: drop-in 2s;
    animation-iteration-count: infinite;
}

.right
{
    background-color: violet;
    height: 120px;
    width: 40px;
    border-radius: 30px;
    display: inline-block;
    top: 355px;
    right: 710px;
    position: absolute;
    animation: drop-in 2s;
    animation-iteration-count: infinite;
}

.leftleg
{
    background-color: violet;
    height: 120px;
    width: 40px;
    border-radius: 30px;
    display: inline-block;
    top: 490px;
    left: 790px;
    position: absolute;
    animation: drop-in 2s;
    animation-iteration-count: infinite;

}

.rightleg
{
    background-color: violet;
    height: 120px;
    width: 40px;
    border-radius: 30px;
    display: inline-block;
    top: 490px;
    left: 870px;
    position: absolute;
    animation: drop-in 2s;
    animation-iteration-count: infinite;
}

.Top:hover {
    animation: moveTop 2s infinite;
  }
  
  .bot:hover  {
    border-radius: 40%;
    animation: movebot 2s infinite;
  }
  
  .left:hover {
    animation: moveleft 2s infinite;
  }
  
  .right:hover {
    animation: moveright 2s infinite;
  }
  
  .leftleg:hover {
    animation: moveleftleg 2s infinite;
  }
  
  .rightleg:hover {
    animation: moverightleg 2s infinite;
  }
  
  @keyframes moveTop {
    0% {
      width: 200px;
    }
  
    25% {
      width: 300px;
    }
  
    50% {
      width: 200px;
    }
  
    75% {
      width: 300px;
    }
  
    100% {
      width: 200px;
    }
  }
  
  @keyframes moveleft {
    0% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  
    25% {
      transform: rotate(90deg);
      transform-origin: top center;
    }
  
    50% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  
    75% {
      transform: rotate(90deg);
      transform-origin: top center;
    }
  
    100% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  }
  
  @keyframes moveright {
    0% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  
    25% {
      transform: rotate(-90deg);
      transform-origin: top center;
    }
  
    50% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  
    75% {
      transform: rotate(-90deg);
      transform-origin: top center;
    }
  
    100% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  }
  
  @keyframes moveleftleg {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(70deg);
    }
  
    50% {
      transform: rotate(0deg);
    }
  
    75% {
      transform: rotate(70deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes moverightleg {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-70deg);
    }
  
    50% {
      transform: rotate(0deg);
    }
  
    75% {
      transform: rotate(-70deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes movebot {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }

body
{
    margin: 0;
    background-color: antiquewhite;
}

h1
{
   text-align: center;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.Top
{
    background-color: violet;
    height: 155px;
    width: 195px;
    border-radius: 0 0 90px 90px;
    display: inline-block;
    position: relative;
    top: 70px;
    left: 750px;
    z-index: 1;
    transform: rotate(180deg);
    animation: drop-in 2s;
    animation-iteration-count: infinite;

}

.eye1
{
    background-color: white;
    height: 25px;
    width: 28px;
    border-radius: 50%;
    position: absolute;
    top:55px;
    left:40px;
}

.eye2
{
    background-color: white;
    height: 25px;
    width: 28px;
    border-radius: 50%;
    position: absolute;
    top:55px;
    right: 40px;
    
}

.bot
{
   background-color: violet;
   height: 185px;
   width: 200px;
   border-radius: 0 0 95px 95px;
   display: inline-block;
   top: 265px;
   left: 550px;
   position: relative;
   animation: drop-in 2s;
   animation-iteration-count: infinite;
}

.left
{
    background-color: violet;
    height: 120px;
    width: 40px;
    border-radius: 30px;
    display: inline-block;
    top: 355px;
    left: 700px;
    position: absolute;
    animation: drop-in 2s;
    animation-iteration-count: infinite;
}

.right
{
    background-color: violet;
    height: 120px;
    width: 40px;
    border-radius: 30px;
    display: inline-block;
    top: 355px;
    right: 710px;
    position: absolute;
    animation: drop-in 2s;
    animation-iteration-count: infinite;
}

.leftleg
{
    background-color: violet;
    height: 120px;
    width: 40px;
    border-radius: 30px;
    display: inline-block;
    top: 490px;
    left: 790px;
    position: absolute;
    animation: drop-in 2s;
    animation-iteration-count: infinite;

}

.rightleg
{
    background-color: violet;
    height: 120px;
    width: 40px;
    border-radius: 30px;
    display: inline-block;
    top: 490px;
    left: 870px;
    position: absolute;
    animation: drop-in 2s;
    animation-iteration-count: infinite;
}

.Top:hover {
    animation: moveTop 2s infinite;
  }
  
  .bot:hover  {
    border-radius: 40%;
    animation: movebot 2s infinite;
  }
  
  .left:hover {
    animation: moveleft 2s infinite;
  }
  
  .right:hover {
    animation: moveright 2s infinite;
  }
  
  .leftleg:hover {
    animation: moveleftleg 2s infinite;
  }
  
  .rightleg:hover {
    animation: moverightleg 2s infinite;
  }
  
  @keyframes moveTop {
    0% {
      width: 200px;
    }
  
    25% {
      width: 300px;
    }
  
    50% {
      width: 200px;
    }
  
    75% {
      width: 300px;
    }
  
    100% {
      width: 200px;
    }
  }
  
  @keyframes moveleft {
    0% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  
    25% {
      transform: rotate(90deg);
      transform-origin: top center;
    }
  
    50% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  
    75% {
      transform: rotate(90deg);
      transform-origin: top center;
    }
  
    100% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  }
  
  @keyframes moveright {
    0% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  
    25% {
      transform: rotate(-90deg);
      transform-origin: top center;
    }
  
    50% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  
    75% {
      transform: rotate(-90deg);
      transform-origin: top center;
    }
  
    100% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  }
  
  @keyframes moveleftleg {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(70deg);
    }
  
    50% {
      transform: rotate(0deg);
    }
  
    75% {
      transform: rotate(70deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes moverightleg {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-70deg);
    }
  
    50% {
      transform: rotate(0deg);
    }
  
    75% {
      transform: rotate(-70deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes movebot {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }


